<div class="col-md-2">
</div>

<div class="col-md-8">
    <h3>Secrets •
      <a href="/users/<%= session[:user_id] %>"><button class="btn btn-success" type="button" name="button">My Secrets</button></a>
      <a href="/logout"><button class="btn btn-danger" type="button" name="button">Logout</button></a></h3>

      <% if flash[:success] %>
      <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>

      <!-- <button class="helloyo">Toggle</button>
      <p>Hello</p>
      <p class="goodbye" style="display: none">Good Bye</p> -->

  <% @all_secrets.each do |secrets| %>
<div class="panel panel-default">
  <div class="panel-body"><%= secrets.secret %></div>
  <div class="panel-heading">
    <button type="button" name="button" class="btn btn-default">
      <a href="/like_secret/<%= secrets.id %>" data-method = "post">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      </a>
    </button>
    <button type="button" name="button" class="btn btn-default">
      <a href="/unlike_secret/<%= secrets.id %>" data-method = "post">
        <span class="glyphicon glyphicon-thumbs-down"></span>
      </a>
    </button>

    <strong><%= secrets.likes.count %> Likes</strong>

    <% if secrets.user.id == @id %>
    <a href="/delete/<%= secrets.id %>"><button class="btn btn-danger" type="button" name="button">Delete</button></a>
    <% end %>
  </div>


</div>
<% end %>

</div>
<div class="col-md-2">
</div>
